body
{
	font-family: 'Open Sans', sans-serif;
}
#titlePage_introDiv
{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
#titlePage_appName
{
	text-align: center;
}
#centerArea{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
#categoryContainer{
	background-color: #F0F0F0;
}
#rightContainer{
	background-color: #AAAAAA;
	overflow: hidden;
}
.questionPackContainer
{
	padding: 5px 5px 5px 5px;
	background-color: #CCCCCC;
	border-style: ridge;
	border-width: 1px;

}
.arrow{
	
}
.questionPackLabel
{
	display: inline;
}
.questionLabel
{
	display: inline;
}
.arrow-right{
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
	display: inline-block;
}
.arrow-down{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	display: inline-block;
}
#workArea
{
	border-style: solid;
	border-width: 5px;
}
.question{
	width: inherit;
	margin-left: 30px;
	word-wrap: normal;
}
.questionPackQuestions{
	display: none;
}
.questionData{
	margin-left: 30px;
	display: none;
	overflow: hidden;
}
#summary{

}
#completion{
	margin-top: 20px;
}
.shopButton{
	background-color: #CCC;
}
.continueButton{
	float: right;
	background-color: #BBB;
}
.backButton{
	float: right;
	background-color: #AAA;
}
.bottomTabs{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	padding: 10px;
}
#searchForm{
	float: right;
}
#utilitiesBar{
	overflow: hidden 
}
.percentCorrectGraph{
	float: left;
}
